Src/Doc/EGAIS/xsd/ReplySSP_v2.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ns="http://fsrar.ru/WEGAIS/ReplySSP_v2"
           targetNamespace="http://fsrar.ru/WEGAIS/ReplySSP_v2"
            xmlns:pref="http://fsrar.ru/WEGAIS/ProductRef_v2"
           
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
>
  <xs:import namespace="http://fsrar.ru/WEGAIS/ProductRef_v2" schemaLocation="ProductRef_v2.xsd"/>

  <xs:complexType name="ReplySSP_v2">
    <xs:annotation>
      <xs:documentation>Ответ на запрос о спиртосодержащей продукции</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Products"  minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Product" type="pref:ProductInfoReply_v2" minOccurs="0" maxOccurs="unbounded">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>