Src/Doc/EGAIS/xsd/ReplyNoAnswerTTN.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ns="http://fsrar.ru/WEGAIS/ReplyNoAnswerTTN"
           targetNamespace="http://fsrar.ru/WEGAIS/ReplyNoAnswerTTN"

           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
            xmlns:c="http://fsrar.ru/WEGAIS/Common"
           >
  <xs:import namespace="http://fsrar.ru/WEGAIS/Common" schemaLocation="EGCommon.xsd"/>

  <xs:complexType name="NoAnswerTTN">
    <xs:annotation>
      <xs:documentation>Список неподтвержденных накладных</xs:documentation>
    </xs:annotation>

    <xs:all>
      <xs:element name="Consignee" type="c:NoEmptyString50" nillable="false" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Код грузополучателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReplyDate" type="c:DateWTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Дата составления отчета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ttnlist" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Неподтвержденные накладные</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NoAnswer" type="ns:NoAnswerType" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="NoAnswerType">
    <xs:sequence>
      <xs:element name="WbRegID" type="c:NoEmptyString50" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ТТН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ttnNumber" type="c:NoEmptyString50" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Номер ТТН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ttnDate" type="c:DateNoTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Дата ТТН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Shipper" type="c:NoEmptyString50" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Грузоотправитель ТТН</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    
  </xs:complexType>
                  
</xs:schema>