Src/Doc/EGAIS/xsd/ReplyHistFormB.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ns="http://fsrar.ru/WEGAIS/ReplyHistFormB"
           targetNamespace="http://fsrar.ru/WEGAIS/ReplyHistFormB"

           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
            xmlns:c="http://fsrar.ru/WEGAIS/Common"
           >
  <xs:import namespace="http://fsrar.ru/WEGAIS/Common" schemaLocation="EGCommon.xsd"/>

  <xs:complexType name="ReplyHistFormB">
    <xs:annotation>
      <xs:documentation>Ответ на запрос о движении по форме Б</xs:documentation>
    </xs:annotation>

    <xs:all>
      <xs:element name="InformBRegId" type="c:NoEmptyString50" nillable="false" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Регистрационный номер справки Б</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HistFormBDate" type="c:DateWTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Дата составления отчета</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="HistoryB" minOccurs="1">
        <xs:annotation>
          <xs:documentation>История движения по справке</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OperationB" type="ns:OperationBType" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
    </xs:all>
  </xs:complexType>

  <xs:complexType name="OperationBType">
    <xs:annotation>
      <xs:documentation>Движение товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocType" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Тип документа движения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocId" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Регистрационный номер документа движения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Operation" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Описание операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Количество продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OperDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Дата выполнения операции</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    
  </xs:complexType>
                  
</xs:schema>