Src/Doc/Format/KONTUR/xsd/common/Contractor.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="CountryAddress.xsd" />
  <xsd:include schemaLocation="simpleTypes/GlobalLocationNumber.xsd" />
  <xsd:include schemaLocation="simpleTypes/FullName.xsd" />
  <xsd:include schemaLocation="simpleTypes/Description35.xsd" />
  <xsd:include schemaLocation="simpleTypes/ContactPersonInfo.xsd" />
  <xsd:complexType name="ContractorType">
    <xsd:annotation>
      <xsd:documentation>Контрагент</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="gln" type="GlobalLocationNumberType"  minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>GLN</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice>
        <xsd:element name="organization" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="name">
                <xsd:annotation>
                  <xsd:documentation>Наименование организации</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="175" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="inn" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>ИНН 10 цифр</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{10}" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="kpp" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>КПП 9 цифр</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{9}" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="OKPOCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>ОКПО 10 цифр</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{8}|\d{10}" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="selfEmployed" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Индивидуальный предприниматель</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="fullName" type="FullNameType">
                <xsd:annotation>
                  <xsd:documentation>ФИО</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="inn" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>ИНН 12 цифр</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{12}" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="OKPOCode" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>ОКПО 10 цифр</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{8}|\d{10}" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="soleProprietorRegistrationCertificate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Свидетельство о регистрации ИП</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="70" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
      <xsd:choice>
        <xsd:element name="russianAddress" type="RussianAddressType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Российский адрес</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="foreignAddress" type="ForeignAddressType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Иностранный адрес</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element name="additionalIdentificator" type="Description35Type" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Дополнительный идентификатор</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taxSystem" fixed="Simplified" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Признак УСН</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="additionalInfo" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Дополнительная информация о контрагенте</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="phone" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Телефон</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="fax" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Факс</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="bankAccountNumber" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Номер счета в банке</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="correspondentAccountNumber" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Номер корреспондентского счета</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="35" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="bankName" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Наименование банка</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1" />
                  <xsd:maxLength value="70" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="BIK" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>БИК</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="\d{9}" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="nameOfCEO" type="Description35Type" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Генеральный директор (Фамилия И.О.)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="nameOfAccountant" type="Description35Type" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Главный бухгалтер (Фамилия И.О.)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="nameOfSales" type="Description35Type" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Руководитель по продажам (Фамилия И.О.)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="orderContact" type="Description35Type" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Контактное лицо заказа (Фамилия И.О.)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="partyDate" type="xsd:date" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Дата начала работы организации/места доставки</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="parentGLN" type="GlobalLocationNumberType" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>GLN родительской организации (только для мест доставки в PARTIN)</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="contactInfo" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Дополнительная информация о контрагенте</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CEO" type="ContactPersonInfo" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Генеральный директор </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="accountant" type="ContactPersonInfo" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Главный бухгалтер</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="salesManager" type="ContactPersonInfo" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Руководитель по продажам </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="orderContact" type="ContactPersonInfo" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Контактное лицо заказа</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>