Src/SOAP/CLIENT/VETIS/mercury-g2b.service_v2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MercuryG2BService"
                  targetNamespace="http://api.vetrf.ru/schema/cdm/mercury/g2b/service/v2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://api.vetrf.ru/schema/cdm/mercury/g2b/service/v2"
                  xmlns:def="http://api.vetrf.ru/schema/cdm/mercury/g2b/applications/v2">

   <!-- IMPORTS -->

   <wsdl:types>
      <xs:schema>
         <xs:import namespace="http://api.vetrf.ru/schema/cdm/mercury/g2b/applications/v2"
                    schemaLocation="mercury_g2b_applications_v2.0.xsd"/>
      </xs:schema>
   </wsdl:types>

   <!-- MESSAGES -->

   <wsdl:message name="ProcessIncomingConsignmentRequest">
      <wsdl:part name="request" element="def:processIncomingConsignmentRequest"/>
   </wsdl:message>
   <wsdl:message name="ProcessIncomingConsignmentResponse">
      <wsdl:part name="response" element="def:processIncomingConsignmentResponse"/>
   </wsdl:message>

   <wsdl:message name="PrepareOutgoingConsignmentRequest">
      <wsdl:part name="request" element="def:prepareOutgoingConsignmentRequest"/>
   </wsdl:message>
   <wsdl:message name="PrepareOutgoingConsignmentResponse">
      <wsdl:part name="response" element="def:prepareOutgoingConsignmentResponse"/>
   </wsdl:message>

   <wsdl:message name="RegisterProductionOperationRequest">
      <wsdl:part name="request" element="def:registerProductionOperationRequest"/>
   </wsdl:message>
   <wsdl:message name="RegisterProductionOperationResponse">
      <wsdl:part name="response" element="def:registerProductionOperationResponse"/>
   </wsdl:message>

   <wsdl:message name="MergeStockEntriesRequest">
      <wsdl:part name="request" element="def:mergeStockEntriesRequest"/>
   </wsdl:message>
   <wsdl:message name="MergeStockEntriesResponse">
      <wsdl:part name="response" element="def:mergeStockEntriesResponse"/>
   </wsdl:message>

   <wsdl:message name="WithdrawVetDocumentRequest">
      <wsdl:part name="request" element="def:withdrawVetDocumentRequest"/>
   </wsdl:message>
   <wsdl:message name="WithdrawVetDocumentResponse">
      <wsdl:part name="response" element="def:withdrawVetDocumentResponse"/>
   </wsdl:message>

   <wsdl:message name="ModifyBusinessEntityRequest">
      <wsdl:part name="request" element="def:modifyBusinessEntityRequest"/>
   </wsdl:message>
   <wsdl:message name="ModifyBusinessEntityResponse">
      <wsdl:part name="response" element="def:modifyBusinessEntityResponse"/>
   </wsdl:message>

   <wsdl:message name="ModifyEnterpriseRequest">
      <wsdl:part name="request" element="def:modifyEnterpriseRequest"/>
   </wsdl:message>
   <wsdl:message name="ModifyEnterpriseResponse">
      <wsdl:part name="response" element="def:modifyEnterpriseResponse"/>
   </wsdl:message>

   <wsdl:message name="ModifyActivityLocationsRequest">
      <wsdl:part name="request" element="def:modifyActivityLocationsRequest"/>
   </wsdl:message>
   <wsdl:message name="ModifyActivityLocationsResponse">
      <wsdl:part name="response" element="def:modifyActivityLocationsResponse"/>
   </wsdl:message>

   <wsdl:message name="ResolveDiscrepancyRequest">
      <wsdl:part name="request" element="def:resolveDiscrepancyRequest"/>
   </wsdl:message>
   <wsdl:message name="ResolveDiscrepancyResponse">
      <wsdl:part name="response" element="def:resolveDiscrepancyResponse"/>
   </wsdl:message>

   <wsdl:message name="ModifyProducerStockListRequest">
      <wsdl:part name="request" element="def:modifyProducerStockListRequest"/>
   </wsdl:message>
   <wsdl:message name="ModifyProducerStockListResponse">
      <wsdl:part name="response" element="def:modifyProducerStockListResponse"/>
   </wsdl:message>

   <wsdl:message name="GetVetDocumentByUuidRequest">
      <wsdl:part name="request" element="def:getVetDocumentByUuidRequest"/>
   </wsdl:message>
   <wsdl:message name="GetVetDocumentByUuidResponse">
      <wsdl:part name="response" element="def:getVetDocumentByUuidResponse"/>
   </wsdl:message>

   <wsdl:message name="GetVetDocumentListRequest">
      <wsdl:part name="request" element="def:getVetDocumentListRequest"/>
   </wsdl:message>
   <wsdl:message name="GetVetDocumentListResponse">
      <wsdl:part name="response" element="def:getVetDocumentListResponse"/>
   </wsdl:message>

   <wsdl:message name="GetVetDocumentChangesListRequest">
      <wsdl:part name="request" element="def:getVetDocumentChangesListRequest"/>
   </wsdl:message>
   <wsdl:message name="GetVetDocumentChangesListResponse">
      <wsdl:part name="response" element="def:getVetDocumentChangesListResponse"/>
   </wsdl:message>

   <wsdl:message name="GetStockEntryByGuidRequest">
      <wsdl:part name="request" element="def:getStockEntryByGuidRequest"/>
   </wsdl:message>
   <wsdl:message name="GetStockEntryByGuidResponse">
      <wsdl:part name="response" element="def:getStockEntryByGuidResponse"/>
   </wsdl:message>

   <wsdl:message name="GetStockEntryByUuidRequest">
      <wsdl:part name="request" element="def:getStockEntryByUuidRequest"/>
   </wsdl:message>
   <wsdl:message name="GetStockEntryByUuidResponse">
      <wsdl:part name="response" element="def:getStockEntryByUuidResponse"/>
   </wsdl:message>

   <wsdl:message name="GetStockEntryListRequest">
      <wsdl:part name="request" element="def:getStockEntryListRequest"/>
   </wsdl:message>
   <wsdl:message name="GetStockEntryListResponse">
      <wsdl:part name="response" element="def:getStockEntryListResponse"/>
   </wsdl:message>

   <wsdl:message name="GetStockEntryChangesListRequest">
      <wsdl:part name="request" element="def:getStockEntryChangesListRequest"/>
   </wsdl:message>
   <wsdl:message name="GetStockEntryChangesListResponse">
      <wsdl:part name="response" element="def:getStockEntryChangesListResponse"/>
   </wsdl:message>

   <wsdl:message name="GetStockEntryVersionListRequest">
      <wsdl:part name="request" element="def:getStockEntryVersionListRequest"/>
   </wsdl:message>
   <wsdl:message name="GetStockEntryVersionListResponse">
      <wsdl:part name="response" element="def:getStockEntryVersionListResponse"/>
   </wsdl:message>

   <wsdl:message name="UpdateTransportMovementDetailsRequest">
      <wsdl:part name="request" element="def:updateTransportMovementDetailsRequest"/>
   </wsdl:message>
   <wsdl:message name="UpdateTransportMovementDetailsResponse">
      <wsdl:part name="response" element="def:updateTransportMovementDetailsResponse"/>
   </wsdl:message>

   <wsdl:message name="UpdateVeterinaryEventsRequest">
      <wsdl:part name="request" element="def:updateVeterinaryEventsRequest"/>
   </wsdl:message>
   <wsdl:message name="UpdateVeterinaryEventsResponse">
      <wsdl:part name="response" element="def:updateVeterinaryEventsResponse"/>
   </wsdl:message>

   <wsdl:message name="CheckShipmentRegionalizationRequest">
      <wsdl:part name="request" element="def:checkShipmentRegionalizationRequest"/>
   </wsdl:message>
   <wsdl:message name="CheckShipmentRegionalizationResponse">
      <wsdl:part name="response" element="def:checkShipmentRegionalizationResponse"/>
   </wsdl:message>

   <wsdl:message name="AddBusinessEntityUserRequest">
      <wsdl:part name="request" element="def:addBusinessEntityUserRequest"/>
   </wsdl:message>
   <wsdl:message name="AddBusinessEntityUserResponse">
      <wsdl:part name="response" element="def:addBusinessEntityUserResponse"/>
   </wsdl:message>

   <wsdl:message name="GetBusinessEntityUserListRequest">
      <wsdl:part name="request" element="def:getBusinessEntityUserListRequest"/>
   </wsdl:message>
   <wsdl:message name="GetBusinessEntityUserListResponse">
      <wsdl:part name="response" element="def:getBusinessEntityUserListResponse"/>
   </wsdl:message>

   <wsdl:message name="GetBusinessEntityUserRequest">
      <wsdl:part name="request" element="def:getBusinessEntityUserRequest"/>
   </wsdl:message>
   <wsdl:message name="GetBusinessEntityUserResponse">
      <wsdl:part name="response" element="def:getBusinessEntityUserResponse"/>
   </wsdl:message>

   <wsdl:message name="UpdateUserAuthoritiesRequest">
      <wsdl:part name="request" element="def:updateUserAuthoritiesRequest"/>
   </wsdl:message>
   <wsdl:message name="UpdateUserAuthoritiesResponse">
      <wsdl:part name="response" element="def:updateUserAuthoritiesResponse"/>
   </wsdl:message>

   <wsdl:message name="UpdateUserWorkingAreasRequest">
      <wsdl:part name="request" element="def:updateUserWorkingAreasRequest"/>
   </wsdl:message>
   <wsdl:message name="UpdateUserWorkingAreasResponse">
      <wsdl:part name="response" element="def:updateUserWorkingAreasResponse"/>
   </wsdl:message>

   <wsdl:message name="UnbindBusinessEntityUserRequest">
      <wsdl:part name="request" element="def:unbindBusinessEntityUserRequest"/>
   </wsdl:message>
   <wsdl:message name="UnbindBusinessEntityUserResponse">
      <wsdl:part name="response" element="def:unbindBusinessEntityUserResponse"/>
   </wsdl:message>

   <wsdl:message name="GetAppliedUserAuthorityListRequest">
      <wsdl:part name="request" element="def:getAppliedUserAuthorityListRequest"/>
   </wsdl:message>
   <wsdl:message name="GetAppliedUserAuthorityListResponse">
      <wsdl:part name="response" element="def:getAppliedUserAuthorityListResponse"/>
   </wsdl:message>


   <!-- PORT -->

   <wsdl:portType name="MercuryG2BServicePortType">
      <wsdl:operation name="processIncomingConsignmentRequest">
         <wsdl:input message="tns:ProcessIncomingConsignmentRequest"/>
         <wsdl:output message="tns:ProcessIncomingConsignmentResponse"/>
      </wsdl:operation>

      <wsdl:operation name="prepareOutgoingConsignmentRequest">
         <wsdl:input message="tns:PrepareOutgoingConsignmentRequest"/>
         <wsdl:output message="tns:PrepareOutgoingConsignmentResponse"/>
      </wsdl:operation>

      <wsdl:operation name="registerProductionOperationRequest">
         <wsdl:input message="tns:RegisterProductionOperationRequest"/>
         <wsdl:output message="tns:RegisterProductionOperationResponse"/>
      </wsdl:operation>

      <wsdl:operation name="mergeStockEntriesRequest">
         <wsdl:input message="tns:MergeStockEntriesRequest"/>
         <wsdl:output message="tns:MergeStockEntriesResponse"/>
      </wsdl:operation>

      <wsdl:operation name="withdrawVetDocumentRequest">
         <wsdl:input message="tns:WithdrawVetDocumentRequest"/>
         <wsdl:output message="tns:WithdrawVetDocumentResponse"/>
      </wsdl:operation>

      <wsdl:operation name="modifyBusinessEntityRequest">
         <wsdl:input message="tns:ModifyBusinessEntityRequest"/>
         <wsdl:output message="tns:ModifyBusinessEntityResponse"/>
      </wsdl:operation>

      <wsdl:operation name="modifyEnterpriseRequest">
         <wsdl:input message="tns:ModifyEnterpriseRequest"/>
         <wsdl:output message="tns:ModifyEnterpriseResponse"/>
      </wsdl:operation>

      <wsdl:operation name="modifyActivityLocationsRequest">
         <wsdl:input message="tns:ModifyActivityLocationsRequest"/>
         <wsdl:output message="tns:ModifyActivityLocationsResponse"/>
      </wsdl:operation>

      <wsdl:operation name="resolveDiscrepancyRequest">
         <wsdl:input message="tns:ResolveDiscrepancyRequest"/>
         <wsdl:output message="tns:ResolveDiscrepancyResponse"/>
      </wsdl:operation>

      <wsdl:operation name="modifyProducerStockListRequest">
         <wsdl:input message="tns:ModifyProducerStockListRequest"/>
         <wsdl:output message="tns:ModifyProducerStockListResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getVetDocumentByUuidRequest">
         <wsdl:input message="tns:GetVetDocumentByUuidRequest"/>
         <wsdl:output message="tns:GetVetDocumentByUuidResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getVetDocumentListRequest">
         <wsdl:input message="tns:GetVetDocumentListRequest"/>
         <wsdl:output message="tns:GetVetDocumentListResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getVetDocumentChangesListRequest">
         <wsdl:input message="tns:GetVetDocumentChangesListRequest"/>
         <wsdl:output message="tns:GetVetDocumentChangesListResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getStockEntryByGuidRequest">
         <wsdl:input message="tns:GetStockEntryByGuidRequest"/>
         <wsdl:output message="tns:GetStockEntryByGuidResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getStockEntryByUuidRequest">
         <wsdl:input message="tns:GetStockEntryByUuidRequest"/>
         <wsdl:output message="tns:GetStockEntryByUuidResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getStockEntryListRequest">
         <wsdl:input message="tns:GetStockEntryListRequest"/>
         <wsdl:output message="tns:GetStockEntryListResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getStockEntryChangesListRequest">
         <wsdl:input message="tns:GetStockEntryChangesListRequest"/>
         <wsdl:output message="tns:GetStockEntryChangesListResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getStockEntryVersionListRequest">
         <wsdl:input message="tns:GetStockEntryVersionListRequest"/>
         <wsdl:output message="tns:GetStockEntryVersionListResponse"/>
      </wsdl:operation>

      <wsdl:operation name="updateTransportMovementDetailsRequest">
         <wsdl:input message="tns:UpdateTransportMovementDetailsRequest"/>
         <wsdl:output message="tns:UpdateTransportMovementDetailsResponse"/>
      </wsdl:operation>

      <wsdl:operation name="updateVeterinaryEventsRequest">
         <wsdl:input message="tns:UpdateVeterinaryEventsRequest"/>
         <wsdl:output message="tns:UpdateVeterinaryEventsResponse"/>
      </wsdl:operation>

      <wsdl:operation name="checkShipmentRegionalizationRequest">
         <wsdl:input message="tns:CheckShipmentRegionalizationRequest"/>
         <wsdl:output message="tns:CheckShipmentRegionalizationResponse"/>
      </wsdl:operation>

      <wsdl:operation name="addBusinessEntityUserRequest">
         <wsdl:input message="tns:AddBusinessEntityUserRequest"/>
         <wsdl:output message="tns:AddBusinessEntityUserResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getBusinessEntityUserListRequest">
         <wsdl:input message="tns:GetBusinessEntityUserListRequest"/>
         <wsdl:output message="tns:GetBusinessEntityUserListResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getBusinessEntityUserRequest">
         <wsdl:input message="tns:GetBusinessEntityUserRequest"/>
         <wsdl:output message="tns:GetBusinessEntityUserResponse"/>
      </wsdl:operation>

      <wsdl:operation name="updateUserAuthoritiesRequest">
         <wsdl:input message="tns:UpdateUserAuthoritiesRequest"/>
         <wsdl:output message="tns:UpdateUserAuthoritiesResponse"/>
      </wsdl:operation>

      <wsdl:operation name="updateUserWorkingAreasRequest">
         <wsdl:input message="tns:UpdateUserWorkingAreasRequest"/>
         <wsdl:output message="tns:UpdateUserWorkingAreasResponse"/>
      </wsdl:operation>

      <wsdl:operation name="unbindBusinessEntityUserRequest">
         <wsdl:input message="tns:UnbindBusinessEntityUserRequest"/>
         <wsdl:output message="tns:UnbindBusinessEntityUserResponse"/>
      </wsdl:operation>

      <wsdl:operation name="getAppliedUserAuthorityListRequest">
         <wsdl:input message="tns:GetAppliedUserAuthorityListRequest"/>
         <wsdl:output message="tns:GetAppliedUserAuthorityListResponse"/>
      </wsdl:operation>

   </wsdl:portType>

   <!-- BINDING -->

   <wsdl:binding name="AMSMercuryG2BBinding"
                 type="tns:MercuryG2BServicePortType">
      <soap:binding style="document"
                    transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="processIncomingConsignmentRequest">
         <soap:operation soapAction="processIncomingConsignmentRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="prepareOutgoingConsignmentRequest">
         <soap:operation soapAction="prepareOutgoingConsignmentRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="registerProductionOperationRequest">
         <soap:operation soapAction="registerProductionOperationRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="mergeStockEntriesRequest">
         <soap:operation soapAction="mergeStockEntriesRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="withdrawVetDocumentRequest">
         <soap:operation soapAction="withdrawVetDocumentRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="modifyBusinessEntityRequest">
         <soap:operation soapAction="modifyBusinessEntityRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="modifyEnterpriseRequest">
         <soap:operation soapAction="modifyEnterpriseRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="modifyActivityLocationsRequest">
         <soap:operation soapAction="modifyActivityLocationsRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="resolveDiscrepancyRequest">
         <soap:operation soapAction="resolveDiscrepancyRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="modifyProducerStockListRequest">
         <soap:operation soapAction="modifyProducerStockListRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getVetDocumentByUuidRequest">
         <soap:operation soapAction="getVetDocumentByUuidRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getVetDocumentListRequest">
         <soap:operation soapAction="getVetDocumentListRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getVetDocumentChangesListRequest">
         <soap:operation soapAction="getVetDocumentChangesListRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getStockEntryByGuidRequest">
         <soap:operation soapAction="getStockEntryByGuidRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getStockEntryByUuidRequest">
         <soap:operation soapAction="getStockEntryByUuidRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getStockEntryListRequest">
         <soap:operation soapAction="getStockEntryListRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getStockEntryChangesListRequest">
         <soap:operation soapAction="getStockEntryChangesListRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getStockEntryVersionListRequest">
         <soap:operation soapAction="getStockEntryVersionListRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="updateTransportMovementDetailsRequest">
         <soap:operation soapAction="updateTransportMovementDetailsRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="updateVeterinaryEventsRequest">
         <soap:operation soapAction="updateVeterinaryEventsRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="checkShipmentRegionalizationRequest">
         <soap:operation soapAction="checkShipmentRegionalizationRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="addBusinessEntityUserRequest">
         <soap:operation soapAction="addBusinessEntityUserRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getBusinessEntityUserListRequest">
         <soap:operation soapAction="getBusinessEntityUserListRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getBusinessEntityUserRequest">
         <soap:operation soapAction="getBusinessEntityUserRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="updateUserAuthoritiesRequest">
         <soap:operation soapAction="updateUserAuthoritiesRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="updateUserWorkingAreasRequest">
         <soap:operation soapAction="updateUserWorkingAreasRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="unbindBusinessEntityUserRequest">
         <soap:operation soapAction="unbindBusinessEntityUserRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getAppliedUserAuthorityListRequest">
         <soap:operation soapAction="getAppliedUserAuthorityListRequest"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
