Src/Doc/Format/KONTUR/xsd/CorrectiveInvoice.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="common/EDIMessage.xsd" />
  <xsd:include schemaLocation="common/Contractor.xsd" />
  <xsd:include schemaLocation="common/TransportationCosts.xsd" />
  <xsd:include schemaLocation="common/simpleTypes/GlobalTradeItemIdentification.xsd" />
  <xsd:include schemaLocation="common/simpleTypes/CountryISOCode.xsd" />
  <xsd:include schemaLocation="common/simpleTypes/CurrencyISOCode.xsd" />
  <xsd:include schemaLocation="common/simpleTypes/CustomsDeclarationNumber.xsd" />
  <xsd:include schemaLocation="common/simpleTypes/Description178.xsd" />
  <xsd:include schemaLocation="common/simpleTypes/Description2560.xsd" />
  <xsd:include schemaLocation="common/simpleTypes/Money.xsd" />
  <xsd:include schemaLocation="common/simpleTypes/Quantity.xsd" />
  <xsd:include schemaLocation="common/simpleTypes/PriceQuantity.xsd" />
  <xsd:include schemaLocation="common/simpleTypes/VATRate.xsd" />
  <xsd:include schemaLocation="common/simpleTypes/TransportBy.xsd" />
  <xsd:element name="correctiveInvoice" type="CorrectiveInvoiceType" substitutionGroup="document" />
  <xsd:complexType name="CorrectiveInvoiceType">
    <xsd:complexContent>
      <xsd:extension base="DocumentType">
        <xsd:sequence>
          <xsd:element name="originInvoic" type="OriginInvoicIdenfiticator" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Данные об оригинальном счете, на который делается корректировка</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="originOrder" type="OrderIdentificatorType">
            <xsd:annotation>
              <xsd:documentation>Идентификатор оригинального заказа</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="contractIdentificator" type="DocumentIdentificatorType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Идентификатор контракта</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="orderResponse" type="DocumentIdentificatorType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Идентификатор уведомления о подтверждении заказа (спецификации)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="despatchIdentificator" type="DocumentIdentificatorType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Идентификатор накладной</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="receivingIdentificator" type="DocumentIdentificatorType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Идентификатор уведомления о приемке</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="receivingAdviceIdentificatorInBuyerSystem" type="DocumentIdentificatorType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Идентификатор приемки в УС сети</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="factoringEncription" type="Description2560Type" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Уступочная запись</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="seller" type="ContractorType">
            <xsd:annotation>
              <xsd:documentation>Продавец (поставщик)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="buyer" type="ContractorType">
            <xsd:annotation>
              <xsd:documentation>Покупатель</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="invoicee" type="ContractorType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Получатель счета (плательщик)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="deliveryInfo">
            <xsd:annotation>
              <xsd:documentation>Информация о поставке</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="shipFrom" type="ContractorType">
                  <xsd:annotation>
                    <xsd:documentation>Грузоотправитель</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="shipTo" type="ContractorType">
                  <xsd:annotation>
                    <xsd:documentation>Место доставки (грузополучатель)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ultimateCustomer" type="ContractorType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Конечная точка доставки</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="warehouseKeeper" type="ContractorType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Промежуточная точка доставки</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="lineItems">
            <xsd:annotation>
              <xsd:documentation>Табличная часть, содержащая информацию о товарах</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="currencyISOCode" type="CurrencyISOCodeType">
                  <xsd:annotation>
                    <xsd:documentation>Код валюты</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="lineItem" type="LineItemType" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>Описание товарной позиции</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalSumExcludingTaxesDecrease" type="MoneyType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>
                      Сумма всего без НДС к уменьшению. 
                      Должно быть заполнено хотя бы одно поле: totalSumExcludingTaxesIncrease или totalSumExcludingTaxesIncrease
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalSumExcludingTaxesIncrease" type="MoneyType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>
                      Сумма всего без НДС к увеличению.
                      Должно быть заполнено хотя бы одно поле: totalSumExcludingTaxesIncrease или totalSumExcludingTaxesIncrease
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalVATAmountDecrease" type="MoneyType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>
                      Сумма НДС к уменьшению.
                      Должно быть заполнено хотя бы одно поле: totalVATAmountDecrease или totalVATAmountIncrease
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalVATAmountIncrease" type="MoneyType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>
                      Сумма НДС к увеличению
                      Должно быть заполнено хотя бы одно поле: totalVATAmountDecrease или totalVATAmountIncrease
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalAmountDecrease" type="MoneyType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>
                      Сумма  всего с НДС к уменьшению
                      Должно быть заполнено хотя бы одно поле: totalAmountDecrease или totalAmountIncrease
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalAmountIncrease" type="MoneyType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>
                      Сумма  всего с НДС к увеличению
                      Должно быть заполнено хотя бы одно поле: totalAmountDecrease или totalAmountIncrease
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalSumExcludingTaxesForIVDecrease" type="totalSumForDocumentType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>
                      Сумма для счета-фактуры всего без НДС к уменьшению
                      Должно быть заполнено хотя бы одно поле: totalSumExcludingTaxesForIVDecrease или totalSumExcludingTaxesForIVIncrease
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalSumExcludingTaxesForIVIncrease" type="totalSumForDocumentType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>
                      Сумма для счета-фактуры всего без НДС к увеличению
                      Должно быть заполнено хотя бы одно поле: totalSumExcludingTaxesForIVDecrease или totalSumExcludingTaxesForIVIncrease
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalVATAmountForIVDecrease" type="totalSumForDocumentType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>
                      Сумма НДС для счета-фактуры к уменьшению
                      Должно быть заполнено хотя бы одно поле: totalVATAmountForIVDecrease или totalVATAmountForIVIncrease
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalVATAmountForIVIncrease" type="totalSumForDocumentType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>
                      Сумма НДС для счета-фактуры к увеличению
                      Должно быть заполнено хотя бы одно поле: totalVATAmountForIVDecrease или totalVATAmountForIVIncrease
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalAmountForIVDecrease" type="totalSumForDocumentType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>
                      Сумма для счета-фактуры к оплате всего с НДС к уменьшению
                      Должно быть заполнено хотя бы одно поле: totalAmountForIVDecrease или totalAmountForIVIncrease
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="totalAmountForIVIncrease" type="totalSumForDocumentType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>
                      Сумма для счета-фактуры к оплате всего с НДС к увеличению
                      Должно быть заполнено хотя бы одно поле: totalAmountForIVDecrease или totalAmountForIVIncrease
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="type" type="typeInvoiceType" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="typeInvoiceType">
    <xsd:annotation>
      <xsd:documentation>Тип счета-фактуры: Original - оригинальный счет; Replace - счет-исправление </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Original" />
      <xsd:enumeration value="Replace" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="totalSumForDocumentType">
    <xsd:annotation>
      <xsd:documentation>Общие суммы для счета-фактуры/ торг-12</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="MoneyType">
        <xsd:attribute name="documentNumber" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LineItemType">
    <xsd:sequence>
      <xsd:element name="gtin" type="GlobalTradeItemIdentificationType" minOccurs="0" />
      <xsd:element name="internalBuyerCode" type="Description35Type" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Код, присвоенный покупателем</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="internalSupplierCode" type="Description35Type" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Внутренний код поставщика</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="typeOfUnit" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Тип товара (RC - возвратная тара, CU - штучный товар, VQ - весовой товар)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="VQ"></xsd:enumeration>
            <xsd:enumeration value="CU"></xsd:enumeration>
            <xsd:enumeration value="RC"></xsd:enumeration>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description" type="Description178Type">
        <xsd:annotation>
          <xsd:documentation>Наименование (описание) товара</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="comment" type="Description2560Type" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Комментарий к товарной позиции</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quantityBefore" type="QuantityType">
        <xsd:annotation>
          <xsd:documentation>Количество до</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quantityAfter" type="QuantityType"  minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Количество после</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quantityIncrease" type="QuantityType"  minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Количество к увеличению
            Если заполнено quantityAfter, обязательно должно быть заполнено хотя бы одно поле: quantityIncrease или quantityDecrease
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quantityDecrease" type="QuantityType"  minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Количество к уменьшению
            Если заполнено quantityAfter, обязательно должно быть заполнено хотя бы одно поле: quantityIncrease или quantityDecrease
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="onePlaceQuantity" type="QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Количество в одном месте (чему д.б.кратно общее кол-во)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netPriceWithVAT" type="MoneyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Цена (тариф) за единицу c НДС</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netPriceBefore" type="MoneyType">
        <xsd:annotation>
          <xsd:documentation>Цена (тариф) за единицу без НДС до</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netPriceAfter" type="MoneyType"  minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Цена (тариф) за единицу без НДС после</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netPriceIncrease" type="MoneyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Цена (тариф) за единицу без НДС к увеличению
            Если заполнено netPriceAfter, обязательно заполнять хотя бы одно поле: netPriceIncrease или netPriceDecrease
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netPriceDecrease" type="MoneyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Цена (тариф) за единицу без НДС к уменьшению
            Если заполнено netPriceAfter, обязательно заполнять хотя бы одно поле: netPriceIncrease или netPriceDecrease
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netAmountBefore" type="MoneyType">
        <xsd:annotation>
          <xsd:documentation>Сумма по всей позиции без НДС до</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netAmountAfter" type="MoneyType">
        <xsd:annotation>
          <xsd:documentation>Сумма по всей позиции без НДС после</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netAmountIncrease" type="MoneyType"  minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Сумма по всей позиции без НДС к увеличению
            Должно быть заполнено хотя бы одно поле: netAmountIncrease или netAmountDecrease
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netAmountDecrease" type="MoneyType"  minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Сумма по всей позиции без НДС к уменьшению
            Должно быть заполнено хотя бы одно поле: netAmountIncrease или netAmountDecrease
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exciseDutyBefore" type="MoneyType"  minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Акциз до</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exciseDutyAfter" type="MoneyType"  minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Акциз после</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exciseDutyIncrease" type="MoneyType"  minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Акциз к увеличению</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exciseDutyDecrease" type="MoneyType"  minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Акциз к уменьшению</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vatAmountBefore" type="MoneyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Сумма НДС до
            Должно быть заполнено, если ставка НДС (vATRateBefore) не равна "Без НДС"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vatAmountAfter" type="MoneyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Сумма НДС после
            Должно быть заполнено, если ставка НДС после (vATRateAfter) не равна "Без НДС"
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vatAmountIncrease" type="MoneyType">
        <xsd:annotation>
          <xsd:documentation>
            Сумма НДС к увеличению
            Если заполнено vATRateAfter, обязательно заполнять хотя бы одно поле: vatAmountIncrease или vatAmountDecrease
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vatAmountDecrease" type="MoneyType">
        <xsd:annotation>
          <xsd:documentation>
            Сумма НДС к уменьшению
            Если заполнено vATRateAfter, обязательно заполнять хотя бы одно поле: vatAmountIncrease или vatAmountDecrease
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amountBefore" type="MoneyType">
        <xsd:annotation>
          <xsd:documentation>Сумма по всей позиции c НДС до</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amountAfter" type="MoneyType">
        <xsd:annotation>
          <xsd:documentation>Сумма по всей позиции c НДС после</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amountIncrease" type="MoneyType">
        <xsd:annotation>
          <xsd:documentation>
            Сумма по всей позиции c НДС к увеличению
            Должно быть заполнено хотя бы одно поле: amountIncrease или amountDecrease
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amountDecrease" type="MoneyType">
        <xsd:annotation>
          <xsd:documentation>
            Сумма по всей позиции c НДС к уменьшению
            Должно быть заполнено хотя бы одно поле: amountIncrease или amountDecrease
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vatRateBefore" type="MoneyType">
        <xsd:annotation>
          <xsd:documentation>Ставка НДС до</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vatRateAfter" type="MoneyType">
        <xsd:annotation>
          <xsd:documentation>Ставка НДС после</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="countryOfOriginISOCode" type="CountryISOCodeType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Буквенный код страны, согласно ISO alpha-2</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customsDeclarationNumber" type="CustomsDeclarationNumberType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Номер таможенной декларации, формат хххххххх/хххххх/ххххххх/xxx</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>