Src/Doc/Vetis/mercury_vu_applications_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://api.vetrf.ru/schema/cdm/mercury/vu/applications/v2"
           xmlns:mvu="http://api.vetrf.ru/schema/cdm/mercury/vu/applications/v2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:bs="http://api.vetrf.ru/schema/cdm/base"
           xmlns:apl="http://api.vetrf.ru/schema/cdm/application"
           xmlns:dt="http://api.vetrf.ru/schema/cdm/dictionary/v2"
           xmlns:vd="http://api.vetrf.ru/schema/cdm/mercury/vet-document/v2"
           elementFormDefault="qualified" version="2.0-beta">

   <xs:import namespace="http://api.vetrf.ru/schema/cdm/base" schemaLocation="base_v1.1.xsd"/>
   <xs:import namespace="http://api.vetrf.ru/schema/cdm/application" schemaLocation="application_v1.1.xsd"/>
   <xs:import namespace="http://api.vetrf.ru/schema/cdm/dictionary/v2" schemaLocation="dictionary_v2.0.xsd"/>
   <xs:import namespace="http://api.vetrf.ru/schema/cdm/mercury/vet-document/v2" schemaLocation="document_v2.0.xsd"/>

   <xs:element name="processIncomingConsignmentRequest" type="mvu:ProcessIncomingConsignmentRequest"/>
   <xs:element name="processIncomingConsignmentResponse" type="mvu:ProcessIncomingConsignmentResponse"/>

   <xs:element name="prepareOutgoingConsignmentRequest" type="mvu:PrepareOutgoingConsignmentRequest"/>
   <xs:element name="prepareOutgoingConsignmentResponse" type="mvu:PrepareOutgoingConsignmentResponse"/>

   <xs:element name="registerProductionOperationRequest" type="mvu:RegisterProductionOperationRequest"/>
   <xs:element name="registerProductionOperationResponse" type="mvu:RegisterProductionOperationResponse"/>

   <xs:element name="mergeStockEntriesRequest" type="mvu:MergeStockEntriesRequest"/>
   <xs:element name="mergeStockEntriesResponse" type="mvu:MergeStockEntriesResponse"/>

   <xs:element name="withdrawVetDocumentRequest" type="mvu:WithdrawVetDocumentRequest"/>
   <xs:element name="withdrawVetDocumentResponse" type="mvu:WithdrawVetDocumentResponse"/>

   <xs:element name="modifyBusinessEntityRequest" type="mvu:ModifyBusinessEntityRequest"/>
   <xs:element name="modifyBusinessEntityResponse" type="mvu:ModifyBusinessEntityResponse"/>

   <xs:element name="modifyEnterpriseRequest" type="mvu:ModifyEnterpriseRequest"/>
   <xs:element name="modifyEnterpriseResponse" type="mvu:ModifyEnterpriseResponse"/>

   <xs:element name="modifyActivityLocationsRequest" type="mvu:ModifyActivityLocationsRequest"/>
   <xs:element name="modifyActivityLocationsResponse" type="mvu:ModifyActivityLocationsResponse"/>

   <xs:element name="resolveDiscrepancyRequest" type="mvu:ResolveDiscrepancyRequest"/>
   <xs:element name="resolveDiscrepancyResponse" type="mvu:ResolveDiscrepancyResponse"/>

   <xs:element name="getVetDocumentByUuidRequest" type="mvu:GetVetDocumentByUuidRequest"/>
   <xs:element name="getVetDocumentByUuidResponse" type="mvu:GetVetDocumentByUuidResponse"/>

   <xs:element name="getVetDocumentListRequest" type="mvu:GetVetDocumentListRequest"/>
   <xs:element name="getVetDocumentListResponse" type="mvu:GetVetDocumentListResponse"/>

   <xs:element name="getVetDocumentChangesListRequest" type="mvu:GetVetDocumentChangesListRequest"/>
   <xs:element name="getVetDocumentChangesListResponse" type="mvu:GetVetDocumentChangesListResponse"/>

   <xs:element name="getStockEntryByGuidRequest" type="mvu:GetStockEntryByGuidRequest"/>
   <xs:element name="getStockEntryByGuidResponse" type="mvu:GetStockEntryByGuidResponse"/>

   <xs:element name="getStockEntryByUuidRequest" type="mvu:GetStockEntryByUuidRequest"/>
   <xs:element name="getStockEntryByUuidResponse" type="mvu:GetStockEntryByUuidResponse"/>

   <xs:element name="getStockEntryListRequest" type="mvu:GetStockEntryListRequest"/>
   <xs:element name="getStockEntryListResponse" type="mvu:GetStockEntryListResponse"/>

   <xs:element name="getStockEntryChangesListRequest" type="mvu:GetStockEntryChangesListRequest"/>
   <xs:element name="getStockEntryChangesListResponse" type="mvu:GetStockEntryChangesListResponse"/>

   <xs:element name="getStockEntryVersionListRequest" type="mvu:GetStockEntryVersionListRequest"/>
   <xs:element name="getStockEntryVersionListResponse" type="mvu:GetStockEntryVersionListResponse"/>

   <xs:element name="updateTransportMovementDetailsRequest" type="mvu:UpdateTransportMovementDetailsRequest"/>
   <xs:element name="updateTransportMovementDetailsResponse" type="mvu:UpdateTransportMovementDetailsResponse"/>

   <xs:element name="updateVeterinaryEventsRequest" type="mvu:UpdateVeterinaryEventsRequest"/>
   <xs:element name="updateVeterinaryEventsResponse" type="mvu:UpdateVeterinaryEventsResponse"/>

   <xs:element name="checkShipmentRegionalizationRequest" type="mvu:CheckShipmentRegionalizationRequest"/>
   <xs:element name="checkShipmentRegionalizationResponse" type="mvu:CheckShipmentRegionalizationResponse"/>

   <!-- Application types -->

   <xs:complexType name="MercuryApplicationRequest">
      <xs:complexContent>
         <xs:extension base="apl:ApplicationData">
            <xs:sequence>
               <xs:element name="localTransactionId" type="bs:Identifier" minOccurs="1" maxOccurs="1"/>
               <xs:element name="initiator" type="vd:User" minOccurs="1" maxOccurs="1"/>
               <xs:element name="sessionToken" type="dt:OTPToken" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ProcessIncomingConsignmentRequest">
      <xs:annotation>
         <xs:documentation>Заявка на оформление входящей партии.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element name="delivery" type="vd:Delivery" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Сведения о поставке.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="deliveryFacts" type="vd:DeliveryFactList" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Результаты приёмки.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="discrepancyReport" type="vd:DiscrepancyReport" minOccurs="0"
                           maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Акт о несоответствии.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="returnedDelivery" type="vd:Delivery" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Сведения о возврате продукции.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ProcessIncomingConsignmentResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на оформление входящей партии.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element name="stockEntry" type="vd:StockEntry" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Сведения о созданных записи(ях) журнала продукции.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="vetDocument" type="vd:VetDocument" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Сведения о ветеринарных сертификатах: погашенном и возвратном.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="PrepareOutgoingConsignmentRequest">
      <xs:annotation>
         <xs:documentation>Заявка на оформление транспортной партии.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element name="delivery" type="vd:Delivery" minOccurs="1" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Сведения об отгрузке.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="PrepareOutgoingConsignmentResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на оформление транспортной партии.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element name="stockEntry" type="vd:StockEntry" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Сведения о измененных записи(ях) журнала продукции.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="vetDocument" type="vd:VetDocument" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Сведения об оформленном или погашенном ветеринарном сертификате.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="RegisterProductionOperationRequest">
      <xs:annotation>
         <xs:documentation>Заявка на оформление производственной партии.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element name="businessEntity" type="dt:BusinessEntity" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Производитель.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="enterprise" type="dt:Enterprise" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Площадка производителя.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="productionOperation" type="vd:ProductionOperation" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Производственная операция.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="vetDocument" type="vd:VetDocument" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Сведения, необходимые для оформления ветеринарного сертификата.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="RegisterProductionOperationResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на оформление производственной партии.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element name="stockEntry" type="vd:StockEntry" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Сведения о созданных и/или измененных записях журнала продукции.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="vetDocument" type="vd:VetDocument" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Сведения об оформленном или погашенном ветеринарном сертификате.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="MergeStockEntriesRequest">
      <xs:annotation>
         <xs:documentation>Заявка на объединение записей журнала продукции.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element name="businessEntity" type="dt:BusinessEntity" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Хозяйствующий субъект.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="enterprise" type="dt:Enterprise" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Предприятие хоз.субъекта, на которой выполняется соответствующая операция.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="mergeOperation" type="vd:MergeStockEntriesOperation" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Складская операция (объединение записей журнала продукции).
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="MergeStockEntriesResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на объединение записей журнала продукции.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element name="stockEntryList" type="vd:StockEntryList" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Сведения о созданных и/или измененных версиях записей журнала продукции.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="WithdrawVetDocumentRequest">
      <xs:annotation>
         <xs:documentation>Заявка на аннулирование ветеринарного сертификата.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element name="vetDocumentId" type="bs:UUID" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Идентификатор аннулируемого сертификата.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="withdrawReason" type="vd:VetDocumentStatusChangeReason" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Причина аннулирования.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="withdrawDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Дата аннулирования.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="specifiedPerson" type="vd:User" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Ветеринарный врач, ответственный за аннулирование сертификата.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="WithdrawVetDocumentResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на аннулирование ветеринарного сертификата.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element name="vetDocument" type="vd:VetDocument" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Сведения об аннулированном ветеринарном сертификате.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="stockEntry" type="vd:StockEntry" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Сведения об измененных версиях записей журнала продукции.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ModifyBusinessEntityRequest">
      <xs:annotation>
         <xs:documentation>Заявка на внесение изменений в реестр ХС.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element name="modificationOperation" type="vd:BEModificationOperation" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Операция внесения изменений в реестр ХС.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ModifyBusinessEntityResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на внесение изменений в реестр ХС.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element name="businessEntity" type="dt:BusinessEntity" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Измененные версии записей реестра ХС.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ModifyEnterpriseRequest">
      <xs:annotation>
         <xs:documentation>Заявка на внесение изменений в реестр предприятий.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element name="modificationOperation" type="vd:ENTModificationOperation" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Операция внесения изменений в реестр предприятий.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ModifyEnterpriseResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на внесение изменений в реестр предприятий.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element name="enterprise" type="dt:Enterprise" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Измененные версии записей реестра предприятий.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ModifyActivityLocationsRequest">
      <xs:annotation>
         <xs:documentation>Заявка на изменение списка мест осуществления деятельности хозяйствующего субъекта.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element name="modificationOperation" type="vd:BEActivityLocationsModificationOperation"
                           minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Операция внесения изменений списка площадок.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ModifyActivityLocationsResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на изменение списка мест осуществления деятельности хозяйствующим
            субъектом.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element name="businessEntity" type="dt:BusinessEntity" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Запись хозяйствующего субъекта с указанием текущего списка площадок.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ResolveDiscrepancyRequest">
      <xs:annotation>
         <xs:documentation>Заявка на регистрацию несоответствий в записях складского журнала,
            выявленных в результате инвентаризации.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element name="businessEntity" type="dt:BusinessEntity" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Хозяйствующий субъект.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="enterprise" type="dt:Enterprise" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Предприятие.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="inventoryDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Дата инвентаризации/обнаружения несоответствия.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="responsible" type="vd:User" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Ответственный за инвентаризацию.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="stockDiscrepancy" type="vd:StockDiscrepancy" minOccurs="1"
                           maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Несоответствие в записях складского журнала.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="discrepancyReport" type="vd:DiscrepancyReport" minOccurs="1"
                           maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Акт о несоответствии.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ResolveDiscrepancyResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на регистрацию несоответствий в записях складского журнала,
            выявленных в результате инвентаризации.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element name="stockEntryList" type="vd:StockEntryList" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Сведения о созданных и/или измененных версиях записей журнала продукции.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="GetVetDocumentByUuidRequest">
      <xs:annotation>
         <xs:documentation>Заявка на получение записи вет. сертификата по идентификатору.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element ref="bs:uuid" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Идентификатор версии, по которому производится поиск.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="GetVetDocumentByUuidResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на получение записи вет. сертификата по идентификатору.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element ref="vd:vetDocument" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Ветеринарный сертификат.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="GetVetDocumentListRequest">
      <xs:annotation>
         <xs:documentation>Заявка на получение списка записей ветсертификатов.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element ref="bs:listOptions" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>
                        Параметры запрашиваемого списка.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="vd:vetDocumentType" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Тип ветсертификата.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="vd:vetDocumentStatus" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Статус ветсертификата.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="businessMember" type="dt:BusinessMember" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Предприятие, по которому производится поиск записей.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>


   <xs:complexType name="GetVetDocumentListResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на получение списка ветсертификатов.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element ref="vd:vetDocumentList" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Список записей.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="GetVetDocumentChangesListRequest">
      <xs:annotation>
         <xs:documentation>Заявка на получение списка версий, созданных или измененных за указанный интервал дат.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element ref="bs:listOptions" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>
                        Параметры запрашиваемого списка.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="bs:updateDateInterval" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>
                        Интервал времени обновления. В список попадают все записи, дата обновлений которых
                        попадает в указанный интервал.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="businessMember" type="dt:BusinessMember" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Предприятие, по которому производится поиск записей.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="GetVetDocumentChangesListResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на получение списка измененных ветсертификатов.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element ref="vd:vetDocumentList" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Список записей.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="GetStockEntryByGuidRequest">
      <xs:annotation>
         <xs:documentation>Заявка на получение записи журнала по глобальному идентификатору.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element ref="bs:guid" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Идентификатор записи, по которому производится поиск.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="businessMember" type="dt:BusinessMember" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Предприятие, по которому производится поиск записей.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="GetStockEntryByGuidResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на получение записи по идентификатору.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element ref="vd:stockEntry" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Запись журнала продукции.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="GetStockEntryByUuidRequest">
      <xs:annotation>
         <xs:documentation>Заявка на получение версии записи по идентификатору.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element ref="bs:uuid" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Идентификатор версии, по которому производится поиск.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="businessMember" type="dt:BusinessMember" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Предприятие, по которому производится поиск записей.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   
   <xs:complexType name="GetStockEntryByUuidResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на получение версии записи по идентификатору.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element ref="vd:stockEntry" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Запись журнала продукции.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="GetStockEntryChangesListRequest">
      <xs:annotation>
         <xs:documentation>Заявка на получение списка версий записей журнала, созданных или измененных за указанный
            интервал дат.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element ref="bs:listOptions" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>
                        Параметры запрашиваемого списка.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="bs:updateDateInterval" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>
                        Интервал времени обновления. В список попадают все записи, дата обновлений которых
                        попадает в
                        указанный интервал.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="businessMember" type="dt:BusinessMember" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Предприятие, по которому производится поиск записей.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   
   <xs:complexType name="GetStockEntryChangesListResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на получение списка версий.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element ref="vd:stockEntryList" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Список версий.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="GetStockEntryListRequest">
      <xs:annotation>
         <xs:documentation>Заявка на получение списка актуальных записей журнала.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element ref="bs:listOptions" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>
                        Параметры запрашиваемого списка.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="businessMember" type="dt:BusinessMember" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Предприятие, по которому производится поиск записей.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="searchPattern" type="vd:StockEntrySearchPattern" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Шаблон поиска записей складского журнала.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   
   <xs:complexType name="GetStockEntryListResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на получение списка актуальных записей журнала.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element ref="vd:stockEntryList" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Список записей.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="GetStockEntryVersionListRequest">
      <xs:annotation>
         <xs:documentation>Заявка на получение всех версий по идентификатору записи журнала.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element ref="bs:listOptions" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>
                        Параметры запрашиваемого списка.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="bs:guid" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Идентификатор записи, по которому производится поиск.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="businessMember" type="dt:BusinessMember" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Предприятие, по которому производится поиск записей.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   
   <xs:complexType name="GetStockEntryVersionListResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на получение списка версий записи журнала.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element ref="vd:stockEntryList" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Список версий записеи.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="UpdateTransportMovementDetailsRequest">
      <xs:annotation>
         <xs:documentation>Заявка на изменение сведений о транспортных средствах, осуществляющих доставку
            сертифицированной партии. Поддерживается уполномоченное выполнение.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element ref="vd:deliveryParticipant" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Подконтрольный грузополучатель или грузоотправитель,
                        для которого осуществляется изменение параметров маршрута.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="vd:vetDocumentUuid" minOccurs="1" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Идентификатор транспортного вет.сертификата.
                        Может быть указано более одного сертификата на партии, оформленные строго в одной транзакции
                        в адрес одного получателя.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="vd:shipmentRoute" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Маршрут следования. Указывается список точек перегрузки и сведения о транспорте.
                        Для точки перегрузки должен быть указан её порядковый номер из сертификата.
                        В запросе могут участвовать только точки маршрута для которых установлен флаг transshipment (точка перегрузки).
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="UpdateTransportMovementDetailsResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на получение списка версий записи журнала.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element ref="vd:vetDocument" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Список транспортных ветеринарных сертификатов
                        с измененными сведениями о транспортных средствах.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="UpdateVeterinaryEventsRequest">
      <xs:annotation>
         <xs:documentation>Заявка на внесение сведений о ветеринарных мероприятиях с партией продукции таких,
            как лабораторные исследования, карантинирование, иммунизации и обработки для живых животных.
            Поддерживается обновление сведений о лабораторных исследованиях, для которых ранее не был указан результат исследования.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element name="businessEntity" type="dt:BusinessEntity" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Хозяйствующий субъект.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="enterprise" type="dt:Enterprise" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Предприятие.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="vd:stockEntry" minOccurs="1" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Запись складского журнала, для которой вносятся/обновляются сведения о мероприятиях.
                        Может быть указано более одной записи складского журнала.
                        Для каждой записи должен быть указан идентификатор (GUID) и список мероприятий stockEntry/vetEventList.
                        При обновлении результатов лабораторных исследований у соответствующего stockEntry/vetEventList/laboratoryResearch
                        должен быть указан идентификатор ID.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="UpdateVeterinaryEventsResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на получение списка версий записи журнала.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element ref="vd:stockEntry" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Список записей складского журнала продукции
                        с измененными сведениями о ветеринарным мероприятиях.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="CheckShipmentRegionalizationRequest">
      <xs:annotation>
         <xs:documentation>Заявка на внесение сведений о ветеринарных мероприятиях с партией продукции таких,
            как лабораторные исследования, карантинирование, иммунизации и обработки для живых животных.
            Поддерживается обновление сведений о лабораторных исследованиях, для которых ранее не был указан результат исследования.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="mvu:MercuryApplicationRequest">
            <xs:sequence>
               <xs:element ref="dt:cargoType" minOccurs="1" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Категория груза, для которой запрашиваются правила перемещения по маршруту.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="vd:shipmentRoute" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Маршрут следования груза. В отличие от маршрута следования,
                        который указывается в транспортном сертификате и в запросе на оформление исходящей партии,
                        `shipmentRoute` здесь должен включать точку отправления и точку назначения.
                        Для каждой точки маршрута обязательно должен быть заполнен адрес:
                        элементы `shipmentRoute/routePoint/location/address` и `shipmentRoute/routePoint/enterprise/address`.
                        Только в этом случае проверка правил перемещения (регионализация) даст корректный результат.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="CheckShipmentRegionalizationResponse">
      <xs:annotation>
         <xs:documentation>Результат заявки на получение списка версий записи журнала.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apl:ApplicationResultData">
            <xs:sequence>
               <xs:element ref="vd:r13nRouteSection" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Описание правил перемещения продукции.
                        Количество элементов `r13nRouteSection` в ответе соответствует количеству отрезков маршрута.
                        Атрибут `r13nRouteSection/sqnId` равен номеру отрезка, нумерация начинается с единицы.
                        Количество элементов `r13nRouteSection/appliedR13nRule` соответствует
                        количеству категорий груза (элемент `cargoType`) в запросе.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

</xs:schema>