Src/Doc/EGAIS/xsd/Trace/Trace.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Trace" 
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:c="http://fsrar.ru/Trace/Common"
>
  <xs:import namespace="http://fsrar.ru/Trace/Common" schemaLocation="TraceCommon.xsd"/>
  <xs:element name="Trace">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Initiator" minOccurs="1" maxOccurs="1"></xs:element>
      </xs:sequence>
      <xs:attribute name="createdate" type="c:TraceDateWTime" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
