Src/Doc/Format/AlcoDecl/4.30/Declarant_Alko.import_decl_11.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<xs:documentation>Декларация об объемах розничной продажи  алкогольной  и спиртосодержащей продукции</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Документ">
					<xs:annotation>
						<xs:documentation>Общие сведения информационной части</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
              <xs:element name="Оборот" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Розничный оборот алкогольной  и спиртосодержащей продукции</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="СведПроизвИмпорт" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Сведения по каждому производителю/импортеру</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Продукция" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="П200000000013" type="ДатаТип" use="required">
                                <xs:annotation>
                                  <xs:documentation>Дата закупки</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="П200000000014" use="required">
                                <xs:annotation>
                                  <xs:documentation>Номер товарно-транспортной наладной</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="50"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="П200000000015" use="required">
                                <xs:annotation>
                                  <xs:documentation>Номер  таможенной декларации</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="50"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="П200000000016" use="required">
                                <xs:annotation>
                                  <xs:documentation>Объем закупленной продукции</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="15"/>
                                    <xs:fractionDigits value="5"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="NameOrg" use="required">
                          <xs:annotation>
                            <xs:documentation>Наименование организации</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="1000"/>
                              <xs:minLength value="3"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="INN" type="ИННЮЛТип" use="required">
                          <xs:annotation>
                            <xs:documentation>ИНН организации</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="KPP" type="КППТип" use="required">
                          <xs:annotation>
                            <xs:documentation>КПП организации</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ПN" type="xs:int" use="required">
                    <xs:annotation>
                      <xs:documentation>Номер по порядку</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="П000000000003" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Код вида
                        продукции
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="3"/>
                        <xs:enumeration value="140"/>
                        <xs:enumeration value="200"/>
                        <xs:enumeration value="211"/>
                        <xs:enumeration value="212"/>
                        <xs:enumeration value="229"/>
                        <xs:enumeration value="230"/>
                        <xs:enumeration value="231"/>
                        <xs:enumeration value="232"/>
                        <xs:enumeration value="238"/>
                        <xs:enumeration value="239"/>
                        <xs:enumeration value="241"/>
                        <xs:enumeration value="242"/>
                        <xs:enumeration value="250"/>
                        <xs:enumeration value="251"/>
                        <xs:enumeration value="252"/>
                        <xs:enumeration value="260"/>
                        <xs:enumeration value="270"/>
                        <xs:enumeration value="280"/>
                        <xs:enumeration value="300"/>
                        <xs:enumeration value="310"/>
                        <xs:enumeration value="320"/>
                        <xs:enumeration value="321"/>
                        <xs:enumeration value="322"/>
                        <xs:enumeration value="330"/>
                        <xs:enumeration value="331"/>
                        <xs:enumeration value="340"/>
                        <xs:enumeration value="341"/>
                        <xs:enumeration value="342"/>
                        <xs:enumeration value="343"/>
                        <xs:enumeration value="344"/>
                        <xs:enumeration value="350"/>
                        <xs:enumeration value="351"/>
                        <xs:enumeration value="400"/>
                        <xs:enumeration value="401"/>
                        <xs:enumeration value="402"/>
                        <xs:enumeration value="403"/>
                        <xs:enumeration value="410"/>
                        <xs:enumeration value="411"/>
                        <xs:enumeration value="420"/>
                        <xs:enumeration value="421"/>
                        <xs:enumeration value="440"/>
                        <xs:enumeration value="450"/>
                        <xs:enumeration value="460"/>
                        <xs:enumeration value="461"/>
                        <xs:enumeration value="462"/>
                        <xs:enumeration value="481"/>
                        <xs:enumeration value="482"/>
                        <xs:enumeration value="483"/>
                        <xs:enumeration value="484"/>
                        <xs:enumeration value="485"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ДатаДок" type="ДатаТип" use="required">
				<xs:annotation>
					<xs:documentation>Дата формирования    
документа</xs:documentation>
					<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="4.20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="НаимПрог" use="required">
				<xs:annotation>
					<xs:documentation>Наименование передающей программы</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
		<xs:key name="ПК_Постав">
			<xs:selector xpath="*/Поставщики"/>
			<xs:field xpath="@ИдПостав"/>
		</xs:key>
		<xs:key name="ПК_Лиц">
			<xs:selector xpath="*/Поставщики/Лицензии/Лицензия"/>
			<xs:field xpath="@ИдЛицензии"/>
		</xs:key>
		<xs:key name="ПК_Произв">
			<xs:selector xpath="*/ПроизводителиИмпортеры"/>
			<xs:field xpath="@ИДПроизвИмп"/>
		</xs:key>
		<xs:keyref name="ВК_Постав" refer="ПК_Постав">
			<xs:selector xpath="*/ОбъемОборота/Оборот/СведПроизвИмпорт/Поставщик"/>
			<xs:field xpath="@ИдПоставщика"/>
		</xs:keyref>
		<xs:keyref name="ВК_Произв" refer="ПК_Произв">
			<xs:selector xpath="*/ОбъемОборота/Оборот/СведПроизвИмпорт"/>
			<xs:field xpath="@ИдПроизвИмп"/>
		</xs:keyref>
		<xs:keyref name="ВК_Лиц" refer="ПК_Лиц">
			<xs:selector xpath="*/ОбъемОборота/Оборот/СведПроизвИмпорт/Поставщик"/>
			<xs:field xpath="@ИдЛицензии"/>
		</xs:keyref>
	</xs:element>	
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>			
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})\.(0[1-9]{1}|1[0-2]{1})\.(1[0-9]{3}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>	
</xs:schema>
